body{
	padding-top: 1px; /* to contain child top margin */
	margin: 0;
	font-family: 'Barlow', sans-serif;
	z-index: 1;
	background: -webkit-linear-gradient(to bottom, #FFC371, #FF5F6D);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #FFC371, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-attachment: fixed;
}

#container{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90%;
	margin: 0 auto;
}

.heading h2 {
	font-size: 3em;
	text-align: center;
}

.heading p {
	font-size: 1.5em;
	margin-bottom: 3em;
}

.members{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 60px;
}

@media screen and (min-width: 769px) {
	.members, .heading {
		max-width: 950px;
	}
}

.social{
	display: flex;
	justify-content: center;
	margin-top: auto;
	background-color: darkslateblue;
}
#hiddentext{
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 2;
}

#hiddentext p {
	background: rgba(0, 0, 0, 0.5);
	padding: 5em;
	color: white;
	font-weight: bold;
}

.social li{
	list-style: none;
	text-decoration: none;
	padding: 15px;
}
.social ul{
	display: flex;
	margin: 0;
	padding: 0;
	flex-direction: row;
}
.social a:hover{
	opacity: 0.4;
}
.member{
	background:  white;
	width: 30%;
	display: flex;
	flex-direction: column;
	box-shadow: 0 0 .5em rgba(0, 0, 0, .3);
	transition: .5s;
}

.member:hover {
	transition: .5s;
	transform: scale(1.03);
}

.picture img {
	width: 100%;
}

.text1 h2{
	padding-left: 20px;
	color: blue;
}
.info p{
	padding-left: 20px;
	color: gray;
}
.description p{
	color: gray;
	padding-left: 20px;
}
@media screen and (max-width: 770px){
	.members{
		flex-direction: column;
		align-items: center;
	}
	.member{
		margin: 5%;
		width: 70%;
	}
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	color:  white;
	background:  rgba(0, 0, 0, .3);
	height: 500px;
}